p {
    margin: 0.75rem 0 !important;
}

.login-container {
    width: 26rem;
    margin-top: 3.25rem;
    text-align: center;
}

.fa-small {
    font-size: 1.25rem !important;
}

.btn-float {
    float: left;
    margin-right: 0.75rem;
}